body {
  background: linear-gradient(135deg, #0c1444, #ff4500);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: auto;
}

.calculator {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.calculator button {
  margin: 5px;
  font-size: 30px;
}

.input {
  margin-top: 10px;
}
